@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

body{
  margin: 0 0;
  font-family: 'PT Sans', sans-serif;
  overflow: scroll;
}

.logo{
  width: 85px;
  padding: 15px;
  background-color: #F5005B;
  float: left;
}
.navigation-bar a{
  text-align: center;
  line-height: 40px;
  display: block;
  color: #FFFFFF;
  height: 41px;
  text-decoration: none;
}
.navigation-bar a:nth-of-type(1){
  background-color: #00A5BF;
}
.navigation-bar a:nth-of-type(2){
  background-color: #00B7D3;
}
.navigation-bar a:nth-of-type(3){
  background-color: #00D5E7;
}

.join-film-club{
  font-weight: 100;
  padding-left: 20px;
}
.upload{
  padding-left: 20px;
}

.nameEmailPassword{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name{
  margin: 10px;
  flex: 1 1 45%;
}
.email{
  margin: 10px;
  flex: 1 1 45%;
}
.password{
  margin: 10px;
  flex: 1 1 45%;
}
.confirmpassword{
  margin: 10px;
  flex: 1 1 45%;
}
input[type="name"]{
  width:93%;
  padding:10px;
}
input[type="email"]{
  width:93%;
  padding:10px;
}
input[type="password"]{
  width:93%;
  padding:10px;
}
input[type="cpassword"]{
  width:93%;
  padding:10px;
}
.checkboxes{
  padding: 0px;
}
.checkboxes li{
  list-style: none;
  padding: 7px 0px;
  margin: 10px;
  margin-left: 20px;
}

.comments-wrapper{
  padding-left: 20px;
  margin-bottom: 30px;
}

.comments{
  width: 93%;
}

.genre{
  font-weight: 100;
  font-size: 15px;
  margin: 15px;
}

.submit{
  padding: 20px 25px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom:50px;
  background-color: #F5005B;
  border: none;
  color: white;
  font-size: 15px;
}

.profile-placeholder{
  border-radius: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
  padding: 30px;
}

.get-involved{
  margin: 30px;
}
.get-involved h1{
  background-color: #0B1942;
  color: white;
  font-weight: 100;
  padding-left: 15px;
}

.calendar-header{
  color: #2A365A;
  padding: 5px 15px;
  font-weight: 100;
}
.month{
  background-color: #0B1942;
  padding: 15px;
  padding-bottom: 8px;
  color: white;
  font-weight: 100;
  margin-bottom: -20px;
}
#calendar{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  clear: both;
  width: 100%;
  background-color:#0B1942;
  padding-bottom: 35px;
  padding-top: 30px;
}

.calendar-date{
  display: block;
  float:left;
  width: 14.2857142857%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #0B1942;
  margin-right: -1px;
  margin-bottom: -1px;
  background-color: white;
}
.calendar-date div{
  float:left;
  background-color: #0B1942;
  color: white;
  padding: 5px;
  margin-left: -20px;
  margin-top: -20px;
}
#calendar li:nth-of-type(13){
  background-color: #F5005B;
}
#calendar li:nth-of-type(27){
  background-color: #F5005B;
}
.special-h1{
  background-color: white;
  color: #3A4667;
  margin: 30px;
  font-weight: 100;
}
.get-involved p{
  line-height: 25px;
}
.up-next{
  background-color: #0B1942;
  padding-bottom: 15px;
}
.up-next-h1{
  color: white;
  font-weight: 100;
  padding-left: 35px;
  padding-top: 15px;
  background-color: #0B1942;
  margin-bottom: -21px;
  padding-bottom: 20px;
}
.rashomon{
  background-color: #E2E2E2;
  margin: 20px;
  display: flex;
}
.rashomon ul{
  line-height: 37px;
  list-style-type: circle;
}
.rashomon h2{
  font-weight: 100;
  padding-top: 25px;
  margin-bottom: 10px;
}
.rashomon a{
  color: #60C5D8;
}
.rashomon-poster{
  width: 200px;
  padding: 15px;
  float: left;
  padding-bottom: 35px;
  padding-right: 35px;
}
.edison-films{
  background-color: #E2E2E2;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.edison-films figure{
  margin: 10px;
  width: 200px;
}
.edison-films figure img{
  width: 200px;
}
.edison-films figure a{
  color: #60C5D8;
}

footer a{
  display: block;
  height:40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #FFFFFF;

}
footer a:nth-of-type(1){
  background-color: #00A5BF;
}
footer a:nth-of-type(2){
  background-color: #00B7D3;
}
footer a:nth-of-type(3){
  background-color: #00D5E7;
}
footer p{
  background-color: #7DDFE8;
  margin: 0;
  padding: 30px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 545px){
  .navigation-bar{
    background-color: #7DDFE8;
    margin-right: -3px;
  }
  .navigation-bar a{
    display: inline-block;
    height: 124px;
    width: 100px;
    line-height: 124px;
    margin-right: -5px;
  }

  .first-part-wrapper{
    float:left;
    clear: left;
  }
  .nameEmailPassword{
    margin-top: 75px;
    margin-bottom: 105px;
  }
  .email{
    margin-bottom: 40px;
  }

  .checkboxes{
    columns: 2 8em;
  }

  .get-involved{
    display: flex;
  }
  .get-involved div{
    padding: 15px;
  }
  .get-involved div h1{
    font-size: 25px;
    padding: 5px 10px;
  }
  .edison-films figure{
    margin: 10px;
    width: 125px;
  }
  .edison-films figure img{
    width: 125px;
  }
  .calendar-date{
    padding: 40px;
  }
  .calendar-date div{
    margin-left: -40px;
    margin-top: -40px;
  }
  footer{
    display: flex;
    background-color: #7DDFE8;
    text-align: right;
  }
  footer a{
    height: 135px;
    width: 100px;
    line-height: 124px;
    margin-right: -5px;
  }
  footer p{
    text-align: right;
    line-height: 80px;
    flex-grow: 1;
  }
}

@media screen and (min-width: 769px){
  .nameEmailPassword{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .password{
    margin-top: -22px;
    margin-bottom: 175px;
  }
  .confirmpassword{
    margin-top: -22px;
    margin-bottom: 175px;
  }
  .checkboxes{
    columns: 3 8em;
  }
  .checkboxes li{
    padding: 0px;
  }
  .comments{
    width: 68%;
  }

  .up-next{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

  }
  .rashomon ul{
    line-height: 20px;
    list-style-type: circle;
  }
  .edison-films figure{
    width:200px;
  }
  .edison-films figure img{
    width: 200px;
  }
  .calendar-date{
    padding: 50px;
  }
  .calendar-date div{
    margin-left: -50px;
    margin-top: -50px;
  }
}
